.nav {
  grid-area: n;
  background-color: rgba(29, 131, 214, 0.309);
  padding: 20px;

}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: black;
  font-size: larger;
}